html,body{
	height: 100%;
  margin: 0; /* 브라우저 기본 마진을 제거 */
}
.bigcontainer {
  display: flex;
  flex-direction: column;
	height: 100vh;
}

.header {
  height: 65px;
  background-color: #eeccee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: BalckHanSans-Regular;
  font-size: 40px;
}
.tablist {
  height: 70px;
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
  background-color: white;
}

.hi{
  font-family: 'Century Gothic';
}


.content {
  display: flex;
  flex: 1;
  height: calc(100vh - 65px - 70px); /*header와 content 를 뺀 만큼의 height를 가져야 함*/
}
.aside {
  display: flex;
  flex: 20%;
  background-color: #bfbab078;
}
.main{
  display: flex;
  flex: 80%;
  flex-direction: column;
  overflow: auto;
}
.chart_area {
  display: flex;
  flex-direction: row; /* 기본값은 가로 배치 */
  flex-wrap: wrap; /* 필요 시 세로 배치로 변경 */
  justify-content: space-between; /* 이미지를 나란히 배치합니다. */
}

.chart {
  flex: 1; /* 이미지가 컨테이너 공간을 균등하게 차지 */
  max-width: 50%; /* 각 이미지의 최대 너비를 50%로 */
  object-fit: cover; /* 이미지가 비율을 유지하며 컨테이너를 채우도록 */
}

.random_button {
  width: 100%; /* 버튼이 전체 너비를 차지 */
  padding: 10px 0; /* 버튼의 상하 패딩을 설정 */
  margin-top: auto; /* 이미지와 버튼 사이의 공간을 설정 */
  background-color: #eeccee; 
  color: blue;
  border: none; 
  cursor: pointer; 
}

@media (max-width: 767px) {
  .chart_area {
    flex-direction: column; /* 화면 크기가 작으면 세로 배치 */
  }
  
  .chart {
    max-width: 100%; /* 화면 크기가 작으면 차트 크기를 100%로 */
  }
}

@media (min-width: 768px) {
  .chart_area {
    flex-direction: row; /* 화면 크기가 크면 가로 배치 */
  }
  
  .chart {
    max-width: 50%; /* 화면 크기가 크면 차트 크기를 50%로 */
  }
}




@media (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 991px) {
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media (min-width: 1200px) {
  
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


