html,body{
	height: 100%;
  margin: 0; /* 브라우저 기본 마진을 제거 */
}
.bigcontainer {
  display: flex;
  flex-direction: column;
	height: 100vh;
}

.header {
  height: 65px;
  background-color: #eeccee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: BalckHanSans-Regular;
  font-size: 40px;
}
.tablist {
  height: 10%;
  width: 100%;
  background-color: white;
}

.dropdown-container {
  text-align: center; /* 추가 */
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

#dropdown-left{
  background-color: white;
  border-color: transparent;
  font-family: BalckHanSans-Regular;
  color : black;
  font-size: 20px;
}
#dropdown-right{
  background-color: white;
  border-color: transparent;
  font-family: BalckHanSans-Regular;
  color : black;
  font-size: 20px;
}

.dropdown-container .dropdown {
  width: 50%;
  
}

.content {
  display: flex;
  flex: 1;
  height: calc(100vh - 65px - 70px); /*header와 content 를 뺀 만큼의 height를 가져야 함*/
}
.aside {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  flex: 20%;
  background-color: white;
  max-height: 100vh; 
  overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
}

.aside-content {
  flex: 0 0 80%; /* 텍스트 박스 영역 80% */
  overflow: auto;
}

.aside-buttons {
  flex: 0 0 20%; /* 버튼 영역 20% */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
}

.aside-buttons button {
  flex: 0 0 48%; /* 버튼 너비 48% */
}

@media (max-width: 768px) {
  .aside {
    max-height: none; /* 작은 화면에서는 최대 높이 제한 없음 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
  }
}

.constant-settings, .current-situation-settings {
  padding: 20px;
  display: flex; /* 내부 요소들을 세로로 정렬 */
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
}

.constant-input-container, .current-situation-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 라벨을 좌측 정렬 */
  margin-bottom: 10px;
}

.constant-input-container label, .current-situation-input-container label {
  margin-bottom: 5px;
}

.constant-input, .current-situation-input {
  width: 100%;
  padding: 5px;
  background-color: #D9D9D9;
  border: 0px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  width: 100%; /* Width of the outside container */
  text-align: center; /* 가운데 정렬 */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}





.main{
  display: flex;
  flex: 80%;
  flex-direction: column;
  overflow: auto;
}
.chart_area {
  flex: 80%;
  display: flex;
  flex: 1; /* 이미지가 컨테이너 공간을 균등하게 차지 */
  flex-direction: row; /* 기본값은 가로 배치 */
  flex-wrap: wrap; /* 필요 시 세로 배치로 변경 */
  justify-content: space-between; /* 이미지를 나란히 배치합니다. */
}

.random_button {
  width: 100%; /* 버튼이 전체 너비를 차지 */
  padding: 10px 0; /* 버튼의 상하 패딩을 설정 */
  margin-top: auto; /* 이미지와 버튼 사이의 공간을 설정 */
  background-color: #eeccee; 
  color: blue;
  border: none; 
  cursor: pointer; 
}

@media (max-width: 767px) {
  .chart_area {
    flex-direction: column; /* 화면 크기가 작으면 세로 배치 */
  }
  
  .chart {
    max-width: 100%; /* 화면 크기가 작으면 차트 크기를 100%로 */
  }
}

@media (min-width: 768px) {
  .chart_area {
    flex-direction: row; /* 화면 크기가 크면 가로 배치 */
  }
  
  .chart {
    max-width: 50%; /* 화면 크기가 크면 차트 크기를 50%로 */
  }
}




@media (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 991px) {
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media (min-width: 1200px) {
  
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


