.DonutChart, .BarchartContainer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: auto; /* 화면 크기를 넘어가면 스크롤 생성 */

    @media (max-width: 768px) {
        flex-direction: column; /* 화면 크기가 작으면 세로로 배열 */
        align-items: center; /* 가운데 정렬 */
    }
}

.dunut {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 30px;
}

.chartText {
    font-size: 25px;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    margin-bottom: 40px;
}

.BarchartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Bar_chart1 {
    max-width: 550px;
    min-width: 400px;
    width: 60%;
    height: 400px;
}

.Bar_chart2 {
    max-width: 370px;
    min-width: 300px;
    width: 40%;
    height: 400px;
}