.draggableComponent {
    border: 1px dashed gray;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: move;
    float: left;
  }
  
  .draggableComponent.dragging {
    opacity: 0.5;
  }
  