.button-style {
  border-radius: 10px;
  text-overflow: ellipsis;
  align-items: center;
  background-color: #e0dede;
  color: black;
  border: none;
  font-size: 13px;
  padding: auto;
  margin: 3px;
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-bottom: 15px;
}

.file_button{
  display: flex;
  width: 100%;
  justify-content: center;
}