/* modal창 외부화면 */
.Modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* modal창 */
.modalBody {
  display: flex;
  width: 60%;
  height: 60%;
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
 
#modalCloseBtn {
  height: 0;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}
 
#modalCloseBtn:hover {
  cursor: pointer;
}

.Addmodal-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-right: 15px;
  overflow-y: auto;
}

.Addmodal-right{
  width: 69%;
  height: 100%;
}

.Addmodal-right h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 0;
  font-weight: bold;
}

.constants-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding-left: 20px;
  overflow-y: auto;
  width: 100%;
}

.Addbutton, .vertiports-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid;  
  border-radius: 10px;
}

.Addbutton {
  height: 47px;
  background: #03a6ff;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.Addbutton:hover {
  background: #0080ff;
}

.plusmark{
  height: 100%;
  width:25%;
  font-size: 25px;
  font-weight: bold;
}

.vertiports-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height:77%;
}

.vertiports-name {
  padding: 10px 0;
  margin-top: 12px !important;
  width: 90%;
  height: 47px;
  font-size: 17px !important;
}

.vertiports-name:hover {
  background: #c4c4c4;
}

.vertiports-name.selected {
  background:#909090;
  color: white;
}

.constant-settings#modal{
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
  padding: 10px 0 10px 20px;
}

.constant-settings#button{
  height: 10%;
  width: 100%;
  display: flex;
}

.post-button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 5px;
  padding: 3px;
  border: 1px solid;  
  border-radius: 10px;
  background: #03a6ff;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.post-button:hover {
  background: #0080ff;
}

.post-button.delete {
  background: #F16B6F;
}

.post-button.delete:hover {
  background: #db5054;
}

.post-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}